.navbar {
  position: sticky !important;
  top: 0;
  height: 5.2rem;
  padding: 10px 20px;    
  border-bottom:0.3px solid var(--border-classic) !important;
  box-shadow: 0 4px 7px #e2884350;
  background-color: var(--background-off-white) !important;
  z-index: 1000;
}

.navbar-content{
  display: flex;
  justify-content: center !important;
  justify-content: space-around !important;
}
.nav-logo{
  color: var(--primary-navy);
  font-size: 30px;
}
.nav-logo-text{
  font-weight: bold;
  font-family: 'Monoton' !important;
}
.fa-magnifying-glass{
  /* color: #555; */
  color: #fff;
}
.nav-btn{
  width: 50px !important;
  border: none !important;
  font-size: medium !important;
  background-color: var(--accent-orange);
  border-radius: 0px !important;
  border-top-right-radius: 6.8px !important;
  border-bottom-right-radius: 6.8px !important;
}

.navbar-search{
  border: 1.5px solid var(--primary-navy) !important;
  border-radius: 8.2px;
  width: 46% !important;
}
.form-control{
border: none !important;
border-radius: 0 !important;
border-top-left-radius: 8.2px !important;
border-bottom-left-radius: 8.2px !important;
}
.form-control:focus {
box-shadow: none !important; 
outline: none !important;
}

.navbar-search:focus-within {
box-shadow: 0 0 1px 1px var(--accent-orange);
border: 1px solid var(--accent-orange) !important;
}


@media (max-width:750px) {    
  .navbar {
      height: 82px;
      padding: 0px 0px;
  }
  .navbar-search{
      width: 90% !important;
  }
  .navbar-content{
      margin-right: 0 !important;
      margin-left: 0 !important;
  }
  .nav-logo{
      font-size: 24px;
    }
}