@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.centered-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 80%;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 0.2px solid rgba(22, 22, 22, 0.153);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.card:hover {
  box-shadow: 0px -21px 20px -18px #e2884350,
    21px 0px 18px -18px #e2884350,
    0px 21px 18px -18px #e2884350,
    -21px 0px 18px -18px #e2884350;
}

.image-container {
  flex: 0 0 33.3333%;
  overflow: hidden;
}

.card-save-article {
  border: none;
  background-color: #fff;
  color: var(--text-dark);
  position: absolute;
  right: 11%;
}

@media (max-width: 768px) {
  .image-container {
    flex: 0 0 100%;
    overflow: hidden;
  }
}

@media (max-width: 985px) {
  .card-save-article {
    right: 24%;
  }
}

.card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-body {
  flex: 1;
  padding: 0.5rem;
}

.card-title {
  color: var(--text-dark);
}

.card-text {
  flex-grow: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.read-prop {
  display: flex;
  flex-direction: column;
}

.read-more {
  text-decoration: none;
  color: var(--primary-navy);
}

@media (max-width:500px) {
  .card-title {
    font-size: 18px !important;
    line-height: 18px !important;
  }

  .card-text {
    font-size: 14px !important;
    line-height: 14px !important;
  }

  .card {
    width: 100%;
    padding: 0.15rem;
    align-items: center;
  }

  .image-container {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    height: 150px !important;
  }

  .card-title {
    margin-bottom: 2px;
  }

  .card-container {
    margin-top: 10px !important;
    padding: 2px;
  }

  .nxpv-btn {
    height: 30px !important;
    width: 60% !important;
  }
  .footer-text{
    font-size: medium !important;
  }
  .btn-container {
    margin-top: 7px !important;
  }
  .footer {
    height: 3rem !important;
    margin-top: 13px !important;
  }
  .filters {
    margin: 16px 2px 0 2px !important;
  }
}

.footer {
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.5px solid var(--border-classic);
  box-shadow: 0 -4px 7px #e2884350;
}

.footer-text {
  color: var(--primary-navy) !important;
}

.footer-text :hover {
  color: var(--primary-navy-transparent) !important;
}

.footer-all :hover {
  color: var(--primary-navy);
}

.btn-container {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 25px;
}

.nxpv-btn {
  width: 30%;
  height: 40px;
  background: var(--primary-navy);
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.2s ease;
  color: #fff !important;
}

.nxpv-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn {
  font-size: 20px !important;
  width: 100% !important;
  font-weight: 500;
  color: #fff;
}

.filters-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow-btn {
  position: absolute;
  z-index: 1;
  background-color: whitesmoke;
  border: none;
  font-size: 1.8rem;
  font-weight: bolder;
  padding: 0.5rem;
  cursor: pointer;
}

.arrow-btn.left {
  left: 11px;
}

.arrow-btn.right {
  right: 8px;
}

.filters {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  margin: 32px 40px 0 40px;
  height: 56px;
  border-radius: 6px;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  /* white-space: nowrap; */
}

.filters::-webkit-scrollbar {
  display: none;
}

.filters a {
  text-decoration: none;
}

.ind-filter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 162px;
  padding: 10px;
  border-radius: 6px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 16px;
  background-color: var(--accent-orange);
  transition: box-shadow 0.2s ease;

}


.category-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.ind-filter:hover {
  background-color: var(--accent-orange-transparent);
  cursor: pointer;
}

.ind-filter.active {
  background-color: var(--background-off-white);
  border: 2px solid var(--accent-orange);
}

.ind-filter.active .category-text {
  color: var(--accent-orange);
}


.arrow-btn {
  display: none;
}