@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

.centered-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 80%;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 0.2px solid rgba(22, 22, 22, 0.153); /* Just for visual clarity */
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.image-container {
    flex: 0 0 33.3333%; /* This makes sure the image container takes up one-third of the card */
    overflow: hidden; /* Ensures that the image does not overflow the container */
}

.card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-body {
    flex: 1;
    padding: 0.5rem; /* Example padding */
}

.card-title {
    color: #44444D;
}

.card-text {
    flex-grow: 1;
    overflow-wrap: break-word; /* Ensures long text wraps */
    word-wrap: break-word;
}

.read-prop {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #323232 !important;
    color: #fff;
  }
  
  .footer-logo img {
    max-width: 150px;
  }
  
  
  
  
  
  
