.start-btn {
    position: fixed;
    bottom: 110px;
    right: 25px;
    z-index: 1000;
    height: 63px;
    width: 63px;
    background: linear-gradient(135deg, #ff9999, #ff6666, #ff3333);
    border: 1px solid #44444D;
    border-radius: 100%;
    transition: background-color 0.7s, transform 0.7s;
    font-size: small;
    color: #44444D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn:hover {
    background-color: #e68100; 
}

.start-btn.blinking {
    animation: blinking 1.1s infinite;
}

@keyframes blinking {
    0% {
        background-color: #f39200;
        transform: scale(1);
        width: 63px;
        height: 63px;
        font-size: small;
    }
    50% {
        background-color: #e68100;
        transform: scale(1.08);
        width: 66px; /* 10% increase */
        height: 66px; /* 10% increase */
        font-size: small;
    }
    100% {
        background-color: #f39200;
        transform: scale(1);
        width: 63px;
        height: 63px;
        font-size: small;
    }
}
