@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';


* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.navbar {
  position: sticky !important;
  top: 0;
  height: 5.2rem;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.219);
  background-color: #ffffff;
  z-index: 1000;
}